h1{
    text-align: center;
}
body{
    text-align: center;
    font-weight: bold;
}
h1, h2 {
    font-weight: bold; /* Deixa o texto em negrito */
}
.botao-comprar {
    display: inline-block;
    padding: 15px 30px; /* Tamanho do botão */
    background-color: #1e8b38; /* Cor de fundo verde */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 25px; /* Bordas arredondadas */
    font-size: 18px; /* Tamanho da fonte */
    font-weight: bold; /* Deixa o texto em negrito */
    transition: background-color 0.3s; /* Efeito suave ao passar o mouse */
}

.botao-comprar:hover {
    background-color: #218838; /* Cor do botão quando o mouse passa em cima */
}
