/* <!-- Adicionar espaçamento inferior e definir uma cor para destaque, ex: margin-bottom: 20px; color: blue; -->*/
.titulo-principal{
    margin-bottom: 20px;
     color: blue;
}
/*<!-- Alterar a cor do texto e adicionar um fundo para destaque, ex: color: #0f0; background-color: yellow; -->*/

.destaque{
    color: #0f0; 
    background-color: yellow;
}

/*<!-- Adicionar um itálico e borda sutil, ex: font-style: italic; border-left: 3px solid green; padding-left: 5px; -->*/
#especial{
    border-left: 3px solid
    green; padding-left: 5px;
}
/*<!-- Ajustar o espaçamento entre as linhas para melhor leitura, ex: line-height: 1.6; Isto irá repercurtir em todos os parágrafos -->*/
p {
    line-height: 1.6;
}
/*<!-- Adicionar uma borda inferior para separar visualmente, ex: border-bottom: 2px solid gray; -->*/
.bloco-um{
    border-bottom: 2px solid gray;
}
/* <!-- Alterar a cor de fundo para destacar os parágrafos internos, ex: background-color: lightgray; -->*/
.bloco-um > p {
    background-color: lightgray;
}
/* <!-- Alterar a fonte para diferenciá-lo dos outros títulos, ex: font-family: Arial, sans-serif; -->
*/
.titulo-bloco >item