footer {
    background-color: #777;
}


@media screen and (max-width:600px) {   
    footer {
        background-color: rgb(9, 156, 29);
    }

}


@media print {
    header {
        display: none;
    }
}